# ── Backend API ───────────────────────────────────────────────────────────────
# Sao chép file này thành .env và điền giá trị thực
EXPO_PUBLIC_API_URL=http://localhost:8080/flood-alert/api/v1
EXPO_PUBLIC_API_URL_ANDROID=http://10.0.2.2:8080/flood-alert/api/v1
